/* Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Share style */
* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.normal-text {
  color: rgb(114, 114, 114);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.btn {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  padding: 20px 23px;
  border: none;
  margin-top: 32px;
  border-radius: 8px;
  background: rgb(255, 144, 14);
}

/* Nav style */
.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.navbar ul {
  display: flex;
  gap: 40px;
}

ul {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(66, 66, 66);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}

nav h3 {
  color: rgb(19, 19, 19);
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
  letter-spacing: 0%;
  text-align: center;
}
/* banner */
.banner-container-content {
  text-align: center;
  width: 862px;
  margin: 50px auto;
}
.banner-container-content h3 {
  color: rgb(19, 19, 19);
  font-family: Work Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 20px;
}

/* main our features */
.q-features {
  margin-top: 130px;
  display: flex;
  align-items: center;
}
.q-features-content {
  width: 537px;
  margin-left: 73px;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
  color: rgb(114, 114, 114);
}
.blk{
  color: rgb(19, 19, 19);
}
.orn{
  color: rgb(255, 144, 14);
}
.q-features-image{
  margin-left: 50px;
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.q-features-image img{
  border: 1px dashed gray;
}
